
body {
  background: url('/assets/img/car.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;       /* full viewport height */
  margin: 0;
  display: flex;       /* enable flexbox */
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
}

.login-box {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  color: #fff;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.btn-login {
  width: 100%;
  background-color: #007bff;
  color: #fff;
}